#contact-site-form .form-item-name, #contact-site-form .form-item-mail, #contact-site-form .form-item-subject {
    float: left;
    max-width: 210px;
}
#contact-site-form .form-item-name {
    margin-right: 26px;
}
#contact-site-form .form-item-mail {
    margin-right: 26px;
}
#contact-site-form .form-item-subject {
    margin-right: 17px;
}
#contact-site-form .form-item-message {
    float: left;
    width: 100%;
}
#contact-site-form .form-item-copy {
    float: left;
    width: 100%;
}
#contact-site-form .form-actions {
    float: left;
    width: 100%;
}